ssl                             on;
ssl_certificate                 {{ ssl.dest }}/ssl.crt;
ssl_certificate_key             {{ ssl.dest }}/ssl.key;
# Enable session resumption to improve HTTPS performance.
# http://vincent.bernat.im/en/blog/2011-ssl-session-reuse-rfc5077.html
ssl_session_cache               shared:SSL:50m;
ssl_session_timeout             5m;
# Diffie-Hellman parameter for DHE ciphersuites.
ssl_dhparam                     {{ ssl.dest }}/dhparam.pem;
# Enable server-side protection from BEAST attacks.
# http://blog.ivanristic.com/2013/09/is-beast-still-a-threat.html
ssl_prefer_server_ciphers       on;
# Disable SSLv3 (enabled by default since NGINX 0.8.19) since it's less secure then TLS.
# http://en.wikipedia.org/wiki/Secure_Sockets_Layer#SSL_3.0
ssl_protocols                   TLSv1 TLSv1.1 TLSv1.2;
# Ciphers chosen for forward secrecy and compatibility.
# http://blog.ivanristic.com/2013/08/configuring-apache-nginx-and-openssl-for-forward-secrecy.html
ssl_ciphers                     "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
# Enable OCSP stapling (mechanism by which a site can convey certificate revocation information to visitors in a privacy-preserving, scalable manner).
# http://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/
resolver                        8.8.8.8;
ssl_stapling                    on;
ssl_trusted_certificate         {{ ssl.dest }}/ssl.crt;
# Config to enable HSTS to avoid SSL stripping.
# https://developer.mozilla.org/en-US/docs/Security/HTTP_Strict_Transport_Security
# https://en.wikipedia.org/wiki/SSL_stripping#SSL_stripping
add_header                      Strict-Transport-Security "max-age=31536000; includeSubdomains;";
