[Unit]
Description={{ item.service.description }}
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ item.service.executable }} {{ item.dest }} {{ item.service.arguments }}

[Install]
WantedBy=multi-user.target
