[submodule "cmf/drupal/all/docroot/drush/registry_rebuild"]
	path = cmf/drupal/all/docroot/drush/registry_rebuild
	url = git://git.drupal.org/project/registry_rebuild.git
[submodule "cmf/drupal/all/docroot/drush/destination_alter"]
	path = cmf/drupal/all/docroot/drush/destination_alter
	url = git://git.drupal.org/project/destination_alter.git
[submodule "scripts/roles/ansible-role-nginx"]
	path = scripts/roles/ansible-role-nginx
	url = https://github.com/jdauphant/ansible-role-nginx.git
[submodule "scripts/roles/ansible-role-memcached"]
	path = scripts/roles/ansible-role-memcached
	url = https://github.com/geerlingguy/ansible-role-memcached.git
[submodule "scripts/roles/ansible-role-mongodb"]
	path = scripts/roles/ansible-role-mongodb
	url = https://github.com/UnderGreen/ansible-role-mongodb.git
[submodule "matrix/roles/api/files/cikit-rest-api"]
	path = matrix/roles/api/files/cikit-rest-api
	url = https://github.com/BR0kEN-/cikit-rest-api.git
[submodule "scripts/roles/cikit-ci/files/bash-process-controller"]
	path = scripts/roles/cikit-ci/files/bash-process-controller
	url = https://github.com/BR0kEN-/bash-process-controller.git
[submodule "tests/travis/tests-runner"]
	path = tests/travis/tests-runner
	url = https://github.com/BR0kEN-/tests-runner.git
