/*

# Directories.
!.slack/
!lib/
!cmf/
!docs/
!tests/
!scripts/
!vagrant/

# Inventory manager.
!host/
host/*
!host/tasks/
!host/*.yml

# Droplets Matrix.
!matrix/
matrix/*
!matrix/roles/
!matrix/tasks/
!matrix/templates/
!matrix/vars/
!matrix/*.yml

# Files.
!LICENSE
!install.sh
!version.txt

# Starting from dot.
.*
!.git*
!.eslint*
!.codespellignore

# File extensions.
*.retry
*.py[co]
!*.md
