[submodule "cmf/drupal/all/docroot/drush/registry_rebuild"]
	path = cmf/drupal/all/docroot/drush/registry_rebuild
	url = git://git.drupal.org/project/registry_rebuild.git
[submodule "cmf/drupal/all/docroot/drush/destination_alter"]
	path = cmf/drupal/all/docroot/drush/destination_alter
	url = git://git.drupal.org/project/destination_alter.git
[submodule "scripts/roles/ansible-role-nginx"]
	path = scripts/roles/ansible-role-nginx
	url = git@github.com:jdauphant/ansible-role-nginx.git
[submodule "scripts/roles/ansible-role-memcached"]
	path = scripts/roles/ansible-role-memcached
	url = git@github.com:geerlingguy/ansible-role-memcached.git
