/*

# Directories.
!cmf/
!docs/
!scripts/

# Droplets Matrix.
!matrix/
matrix/*
!matrix/docs/
!matrix/roles/
!matrix/tasks/
!matrix/templates/
!matrix/vars/
!matrix/matrix.yml

# Files.
!cikit
!inventory
!config.yml
!LICENSE

# Starting from dot.
.*
!.git*
!.eslint*
!.codespellignore

# File extensions.
*.retry
!*.md
