/*

# Directories.
!.slack/
!lib/
!cmf/
!docs/
!tests/
!scripts/
!vagrant/

# Droplets Matrix.
!matrix/
matrix/*
!matrix/roles/
!matrix/tasks/
!matrix/templates/
!matrix/vars/
!matrix/droplet.yml
!matrix/provision.yml

# Files.
!LICENSE
!install.sh
!version.txt

# Starting from dot.
.*
!.git*
!.eslint*
!.codespellignore

# File extensions.
*.retry
*.py[co]
!*.md
