{
    "config": {
        "prestissimo": {
            "maxConnections": 7,
            "minConnections": 3,
            "verbose": false,
            "pipeline": false,
            "insecure": false,
            "userAgent": "CIKit"
        }
    }
}
