{% for name, value in databases.iteritems() %}
$databases['{{ name }}'] = [
  'default' => [
    'port' => '{{ value.port | default(3306) }}',
    'host' => '{{ value.host | default('localhost') }}',
    'driver' => '{{ value.driver | default('mysql') }}',
    'prefix' => '{{ value.prefix | default }}',
    'database' => '{{ value.name }}',
    'username' => '{{ value.user | default(mysql.user) }}',
    'password' => '{{ value.pass | default(mysql.pass) }}',
  ],
];
{% endfor %}

$settings['environment'] = '{{ env }}';

$settings['trusted_host_patterns'] = [
  {# See: http://stackoverflow.com/a/40397212 #}
  '{{ site_url.rpartition("//")[-1].partition("/")[0] | regex_escape }}$',
];

$config_directories[CONFIG_SYNC_DIRECTORY] = 'sites/default/config';
