; {{ ansible_managed | comment }}
{% if 'type' in item.value %}
{{ item.value.type }}={{ item.key }}.so
{% endif %}

{% if 'config' in item.value %}
{% for option, value in item.value.config.iteritems() %}
{{ item.key }}.{{ option }}={{ value }}
{% endfor %}
{% endif %}
