{{ ansible_managed | comment }}

{% for listened_port in ["80", "443 ssl http2"] %}
    {# Do not use integer here! #}
    {% set http = "80" == listened_port %}

    server {
        listen                          {{ listened_port }};
        server_name                     {{ domain }};
        root                            /var/www/html;

        {% if not http %}
            include ssl;
        {% endif %}

        location / {
            try_files                   $uri $uri/ / =404;
        }
    }
{% endfor %}

{% for port, data in nginx.port_forwarding.iteritems() %}
  {% if data.vhost %}
    server {
      server_name "~^.*{{ application }}(?P<port_id>\d{2})\.{{ domain | regex_replace }}$";

      {% if data.ssl %}
        listen {{ port }} ssl http2;
        include ssl;
      {% else %}
        listen {{ port }};
      {% endif %}

      {% set proto = "https" if data.ssl else "http" %}

      location / {
        proxy_redirect          off;
        proxy_pass              {{ proto }}://127.0.0.1:{{ port }}$port_id;

        # HTTP proxy (https://httpoxy.org).
        proxy_set_header        Proxy "";
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $remote_addr;
        proxy_set_header        X-Forwarded-Proto {{ proto }};

        proxy_connect_timeout   9000;
        proxy_send_timeout      9000;
        proxy_read_timeout      9000;
        send_timeout            9000;

        fastcgi_buffers         16 16k;
        fastcgi_buffer_size     32k;

        proxy_buffers           4 256k;
        proxy_buffer_size       128k;
        proxy_busy_buffers_size 256k;

        {% if nginx.httpauth %}
          include auth;
        {% endif %}
      }

      {% for logType in ["access", "error"] %}
        {{ logType }}_log /var/log/nginx/{{ domain.split('.') | first }}.{{ logType }}.log;
      {% endfor %}
    }
  {% endif %}
{% endfor %}
