{#
    Used variables:
    - ssl_folder
#}
SSLEngine on
SSLCipherSuite AES256+EECDH:AES256+EDH
SSLProtocol All -SSLv2 -SSLv3
SSLHonorCipherOrder On
SSLCompression off
SSLCertificateFile {{ ssl_folder }}/ssl.crt
SSLCertificateKeyFile {{ ssl_folder }}/ssl.key
