{{ ansible_managed | comment }}

{# Re-save the value to the variable which might be used in included templates. #}
{% set server_name = ansible_host %}
{% set is_nginx = "nginx" == web_server %}

{% for listened_port in ["80", "443 ssl"] %}
    {# Do not use integer here! #}
    {% set http = "80" == listened_port %}

    server {
        listen                          {{ listened_port }};
        server_name                     {{ server_name }};

        satisfy                         any;
        {% for allowed_ip in allowed_ips %}
            allow                           {{ allowed_ip }};
        {% endfor %}
        deny                            all;

        auth_basic                      "Restricted area";
        auth_basic_user_file            /var/www/.htpasswd;

        {% if not http %}
            {% include "parts/ssl.j2" with context %}
        {% endif %}

        {% include "parts/logs.j2" with context %}

        {% for location, spec in nginx_proxies.items() %}
            {# This variable is used by the "proxy-pass.j2" template. #}
            {% set proxy_pass = "http://127.0.0.1:" + spec.port %}

            {% if http and not spec.http %}
                location {{ location }} {
                    return 301 https://{{ ansible_host }}$request_uri;
                }
            {% else %}
                {#
                    The "/" means we want to serve the application. We cannot
                    simply pass the request to the "127.0.0.1:PORT" if Nginx was
                    chosen as default web server.
                #}
                {% if "/" == location and is_nginx %}
                    {# A virtual host will be created later on. #}
                    {% continue %}
                {% else %}
                    {% include "parts/proxy-pass.j2" with context %}
                {% endif %}
            {% endif %}
        {% endfor %}
    }
{% endfor %}
