{{ ansible_managed | comment }}

{# http://nginx.org/ru/docs/http/ngx_http_fastcgi_module.html#fastcgi_pass #}
{% set proxy_pass = "unix://run/php/php" + php_version + "-fpm.sock" -%}

{% for vhost in web_server_vhosts -%}
    {# Re-save the value to the variable which might be used in included templates. #}
    {% set directory = vhost.root -%}
    {% set server_name = vhost.name -%}

    {% set basic_definition -%}
        server_name     {{ server_name }} *.{{ server_name }};
        root            {{ directory }};
    {% endset %}

    server {
        {{ basic_definition }}
        listen                          {{ web_port }};

        {% include "parts/logs.j2" with context %}
        {% include "parts/locations.j2" with context %}
    }

    server {
        {{ basic_definition }}
        listen                          {{ web_port_ssl }} ssl;

        {% include "parts/ssl.j2" with context %}
        {% include "parts/logs.j2" with context %}
        {% include "parts/locations.j2" with context %}
    }
{% endfor %}
