/*

!docroot/

# Ignore user generated content.
docroot/sites/*/files/
# Ignore any custom settings.
docroot/sites/*/settings*.php
# Build reports.
docroot/reports/
# Behat configuration file.
behat.yml

# Ansible playbooks.
!scripts/
# Behat tests.
!tests/

# Ignore hidden files.
.*
~*
# Ignore Ansible-generated data.
*.retry

!*.md
commentinfo.md

!.htaccess
# Helper file that might be created by the "synchronize" Ansible's module.
!.rsync-filter
!.git*
!.eslint*
!.codespellignore
!.hostname

# Platform.sh configs.
!.platform.app.yaml
!.platform/

# CIKit stuff.
!.cikit/

!LICENSE
!Vagrantfile
!composer.*
