/*

!docroot/

docroot/.nyc_output/
docroot/coverage/
docroot/node_modules/

# Ignore hidden files.
.*
~*
# Ignore Ansible-generated data.
*.retry

!*.md
commentinfo.md

# Helper file that might be created by the "synchronize" Ansible's module.
!.rsync-filter
!.git*
!.eslint*
!.codespellignore
!.hostname

# CIKit stuff.
!.cikit/
