variables:
  # The value of a "project" variable from the ".cikit/config.yml" (underscores
  # should be replaced by dashes).
  PROJECT: "{{ project | replace('_', '-') }}"
  # The value of a "build_slug" variable from the ".cikit/config.yml".
  BUILD_SLUG: "{{ build_slug }}"

# Consider changing "CI_BUILD_REF_SLUG" by the "CI_BUILD_ID" if you are
# interested in creating a build per commit. The default behavior is to
# overwrite the previous build (to have a single instance per branch).
build/run:
  stage: deploy
  environment:
    # IMPORTANT! Bear in mind that substitution of nested variables is
    # not working. There's a bug in Gitlab CI.
    # https://gitlab.com/gitlab-org/gitlab-ce/issues/27098
    url: "https://$PROJECT-$BUILD_SLUG-$CI_BUILD_REF_SLUG.$CI_RUNNER_DESCRIPTION"
    # IMPORTANT! Do not use slashes here! They'll be treated as directory
    # separators.
    name: "$PROJECT-$BUILD_SLUG-$CI_BUILD_REF_SLUG"
  # Valid branch names:
  # - "feature/*"
  # - "bug/*"
  # - "NOJIRA/*"
  # - "master"
  # - "dev"
  only:
    - /^(feature|bug|NOJIRA)\/.+?$/
    - dev
  variables:
    # Display useful verbosity. Max - 4, min - 1.
    ANSIBLE_VERBOSITY: 2
    BUILD_NUMBER: "$CI_BUILD_REF_SLUG"
    BUILD_MODE: "full"
    BUILD_ENV: "default"
    CIKIT_PROJECT_DIR: "$CI_PROJECT_DIR"
    CIKIT_PROJECT_HOSTNAME: "$CI_RUNNER_DESCRIPTION"
    RUN_SNIFFERS: "yes"
    RUN_TESTS: "no"
  # IMPORTANT: Multiline YAML declaration ("- |", or "- >") not working here.
  # https://gitlab.com/gitlab-org/gitlab-runner/issues/166#note_3805463
  script:
    # The "CI_JOB_ID" is provided by Gitlab CI.
    # See https://docs.gitlab.com/ee/ci/variables/#predefined-variables-environment-variables
    - /var/ci/process-controller/main.sh "/tmp/$CI_JOB_ID" "/var/ci/tasks.sh"
  artifacts:
    paths:
      - artifacts/
    expire_in: 1 day

build/demo:
  stage: deploy
  environment:
    url: "https://$PROJECT-$BUILD_ENV.$CI_RUNNER_DESCRIPTION"
    name: "$PROJECT-$BUILD_ENV"
  only:
    - master
  variables:
    ANSIBLE_VERBOSITY: 2
    BUILD_NUMBER: "stable"
    BUILD_MODE: "full"
    BUILD_ENV: "demo"
    CIKIT_PROJECT_DIR: "$CI_PROJECT_DIR"
    CIKIT_PROJECT_HOSTNAME: "$CI_RUNNER_DESCRIPTION"
    RUN_SNIFFERS: "no"
    RUN_TESTS: "no"
  script:
    - /var/ci/process-controller/main.sh "/tmp/$CI_JOB_ID" "/var/ci/tasks.sh"
  artifacts:
    paths:
      - artifacts/
