if ($request_method = OPTIONS) {
    add_header Content-Length 0;
    add_header Content-Type "text/plain charset=utf-8";
    add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
    add_header Access-Control-Allow-Origin $http_origin;
    add_header Access-Control-Allow-Headers "Authorization, Content-Type";
    add_header Access-Control-Allow-Credentials true;

    return 204;
}
