<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Remove all files and databases of currently existing builds. Not applicable for &quot;demo&quot;, &quot;stage&quot; etc.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>FORCE</name>
          <description>Forcibly remove all builds files and databases. Otherwise data will be deleted only in case when device has less than 90% of free space.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 23 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>COMMAND=&quot;mysql -uroot -proot -se&quot;

if ! ${FORCE}; then
  # Return "force" state if empty space on device is coming to the end.
  FORCE=&quot;[ $(df -H | head -2 | tail -1 | awk &apos;{printf &quot;%d&quot;, $5}&apos;) -gt 90 ]&quot;
fi

if ${FORCE}; then
  ${COMMAND} &quot;SHOW DATABASES&quot; | grep &quot;build&quot; | xargs -I &quot;@@&quot; ${COMMAND} &quot;DROP DATABASE @@&quot;
  sudo rm -rf /var/www/*build*
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
