{{ ansible_managed | comment }}
DirectoryIndex index.php index.html

{% if localhost -%}
    {% set root_type = "DocumentRoot" %}
    {% set directory = "docroot" %}
    {% set directory_suffix = "" %}
    {% set server_name = project + ".loc" %}
{% else -%}
    {% set root_type = "VirtualDocumentRoot" %}
    {% set directory = "%1/docroot" %}
    {# On CI droplet the build is in a subdirectory. #}
    {% set directory_suffix = "/*" %}
    {% set server_name = ansible_host %}
{% endif -%}

{% set basic_definition -%}
    ServerName {{ server_name }}
    {{ root_type }} {{ webroot }}/{{ directory }}
{% endset -%}

<Directory "{{ webroot }}/*{{ directory_suffix }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Require all granted
</Directory>

<VirtualHost *:{{ web_port }}>
    {{ basic_definition }}
</VirtualHost>

<VirtualHost *:{{ web_port_ssl }}>
    {{ basic_definition }}
    Include ssl.conf
</VirtualHost>

{% for vhost in web_server_vhosts -%}
    {% if localhost -%}
        {# Serve the "subdomain.project.loc" from "/var/www/subdomain". #}
        {% set directory = vhost.dir %}
        {% set server_alias = "" %}
    {% else -%}
        {# Serve the "subdomain.project_build_1.cikit02.example.com" from "/var/www/project_build_1/subdomain". #}
        {# The "%2" is a placeholder for the "project_build_1" #}
        {% set directory = "%2/" + vhost.dir %}
        {% set server_alias = "*." %}
    {% endif -%}

    {% set basic_definition -%}
        ServerName {{ server_name }}
        ServerAlias {{ vhost.dir }}.{{ server_alias }}{{ server_name }}
        {{ root_type }} {{ webroot }}/{{ directory }}
    {% endset -%}

    <VirtualHost *:{{ web_port }}>
        {{ basic_definition }}
    </VirtualHost>

    <VirtualHost *:{{ web_port_ssl }}>
        {{ basic_definition }}
        Include ssl.conf
    </VirtualHost>
{% endfor %}
