#jinja2: trim_blocks: True
#jinja2: lstrip_blocks: True
{{ ansible_managed | comment }}
DirectoryIndex index.php index.html

{% set root_type = "DocumentRoot" if localhost else "VirtualDocumentRoot" %}

{% for vhost in web_server_vhosts %}
    {# Re-save the value to the variable which might be used in included templates. #}
    {% if localhost %}
        {% set directory = webroot + "/" + vhost.root %}
        {% set server_name = project + ".loc" %}

        {% if vhost.name %}
            {% set server_name = vhost.name + "." + server_name %}
        {% endif %}
    {% else %}
        {% set directory = webroot + "/%1/" + vhost.root %}
        {% set server_name = "CIKit Droplet" | quote %}
    {% endif %}

    {% set basic_definition %}
        ServerName {{ server_name }}
        {{ root_type }} {{ directory }}
    {% endset %}

    <VirtualHost *:{{ web_port }}>
        {{ basic_definition }}
        {% include "parts/directory.j2" with context %}

    </VirtualHost>

    <VirtualHost *:{{ web_port_ssl }}>
        {{ basic_definition }}
        {% include "parts/ssl.j2" with context %}

        {% include "parts/directory.j2" with context %}

    </VirtualHost>
{% endfor %}
