#!/usr/bin/env sh

printf "
  ███╗   ███╗  █████╗  ████████╗ ██████╗  ██╗ ██╗  ██╗
  ████╗ ████║ ██╔══██╗ ╚══██╔══╝ ██╔══██╗ ██║ ╚██╗██╔╝
  ██╔████╔██║ ███████║    ██║    ██████╔╝ ██║  ╚███╔╝
  ██║╚██╔╝██║ ██╔══██║    ██║    ██╔══██╗ ██║  ██╔██╗
  ██║ ╚═╝ ██║ ██║  ██║    ██║    ██║  ██║ ██║ ██╔╝ ██╗
  ╚═╝     ╚═╝ ╚═╝  ╚═╝    ╚═╝    ╚═╝  ╚═╝ ╚═╝ ╚═╝  ╚═╝

 * Project:           https://github.com/BR0kEN-/cikit
 * Documentation:     https://github.com/BR0kEN-/cikit/tree/master/docs
 * Support:           https://cikit.slack.com
"
