# {{ ansible_managed }}

{% if vagrant and install_solr %}
<VirtualHost *:80>
  ServerName            {{ site_url | regex_replace('^(.*)://', 'solr.') }}

  ProxyPreserveHost     On
  ProxyRequests         Off

  RewriteEngine         On
  RewriteRule           ^\/solr(.*)$ $1 [L,R]

  {% for option in ["ProxyPass", "ProxyPassReverse"] %}
    {{ option }} / http://127.0.0.1:{{ solr_port }}/solr/
  {% endfor %}
</VirtualHost>
{% endif %}
