{# @todo Rework the template #}
{{ ansible_managed | comment }}
DirectoryIndex index.php index.html

{# Set up VirtualHosts #}
{% for vhost in apache_vhosts %}
  {% if vhost.servername != "" and vhost.documentroot != "" %}
    <VirtualHost *:{{ apache_port }}>
      ServerName {{ vhost.servername }}

      {% if localhost %}
        DocumentRoot {{ vhost.documentroot }}
      {% else %}
        VirtualDocumentRoot {{ vhost.documentroot }}
      {% endif %}

      {% if vhost.certificate_file and vhost.certificate_key_file %}
        SSLEngine on
        SSLCipherSuite {{ cikit_apache.ssl.cipher_suite }}
        SSLProtocol {{ cikit_apache.ssl.protocol }}
        SSLHonorCipherOrder On
        SSLCompression off
        SSLCertificateFile {{ vhost.certificate_file }}
        SSLCertificateKeyFile {{ vhost.certificate_key_file }}
          {% if vhost.certificate_chain_file is defined %}
            SSLCertificateChainFile {{ vhost.certificate_chain_file }}
          {% endif %}
      {% endif %}

      <Directory "{{ vhost.documentroot | regex_replace('%\d', '*') }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Require all granted
      </Directory>
    </VirtualHost>
  {% endif %}
{% endfor %}
