{# @todo Rework the template #}
{{ ansible_managed | comment }}
DirectoryIndex index.php index.html

{# Set up VirtualHosts #}
{% for vhost in apache_vhosts %}
  {% if vhost.servername != "" and vhost.documentroot != "" %}
    <VirtualHost *:{{ apache_port }}>
      ServerName {{ vhost.servername }}

      {% if localhost %}
        DocumentRoot {{ vhost.documentroot }}
      {% else %}
        VirtualDocumentRoot {{ vhost.documentroot }}
      {% endif %}

      {% if "certificate_file" in vhost and "certificate_key_file" in vhost %}
        SSLEngine on
        SSLCipherSuite AES256+EECDH:AES256+EDH
        SSLProtocol All -SSLv2 -SSLv3
        SSLHonorCipherOrder On
        SSLCompression off
        SSLCertificateFile {{ vhost.certificate_file }}
        SSLCertificateKeyFile {{ vhost.certificate_key_file }}
          {% if "certificate_chain_file" in vhost %}
            SSLCertificateChainFile {{ vhost.certificate_chain_file }}
          {% endif %}
      {% endif %}

      <Directory "{{ vhost.documentroot | regex_replace('%\d', '*') }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Require all granted
      </Directory>
    </VirtualHost>
  {% endif %}
{% endfor %}
