AuthType Basic
AuthName "Restricted Area"
AuthUserFile {{ protected_folder.path }}/.htpasswd
Require valid-user
Require local
{% for allowed_ip in allowed_ips %}
Require ip {{ allowed_ip }}
{% endfor %}
