---
- name: Clone Git repositories
  git:
    repo: "{{ item.value.repo }}"
    dest: "{{ cikit_sniffers.dest }}/{{ item.key }}"
    version: "{{ item.value.branch }}"
  with_dict: "{{ coding_standards }}"

- name: Create HTMLCS binary
  template:
    src: htmlcs.j2
    dest: /usr/local/bin/htmlcs
    mode: a+x

- name: Find all installed PHPCS standards
  find:
    path: "{{ cikit_sniffers.dest }}"
    pattern: "ruleset.xml"
    recurse: yes
  register: rulesets

- name: Deregister all PHPCS standards
  shell: "phpcs --config-delete installed_paths"

- name: Register all found PHPCS standards
  shell: "phpcs --config-set installed_paths {{ rulesets.files | selectattr('path') | map(attribute='path') | map('dirname') | map('dirname') | unique | join(',') }}"

# @todo Update to Ruby 2.x.
- name: Update ruby alternatives for using ruby 1.9.1(3) version
  shell: "update-alternatives --install /usr/bin/ruby ruby /usr/bin/ruby1.9.1 400 --slave /usr/share/man/man1/ruby.1.gz ruby.1.gz /usr/share/man/man1/ruby1.9.1.1.gz --slave /usr/bin/ri ri /usr/bin/ri1.9.1 --slave /usr/bin/irb irb /usr/bin/irb1.9.1 --slave /usr/bin/rdoc rdoc /usr/bin/rdoc1.9.1"

- name: Install NPM packages
  npm:
    name: "{{ item }}"
    global: yes
  with_items: "{{ packages.npm }}"

- name: Install Gem packages
  shell: "gem install {{ item }}"
  with_items: "{{ packages.gem }}"
  ignore_errors: yes

- name: Install PIP packages
  pip:
    name: "{{ item }}"
    state: latest
  with_items: "{{ packages.pip }}"
